@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --color-primary: hsl(0deg 0% 14%);
  --color-secondary: hsl(0deg 0% 18%);
  --color-accent: hsl(3deg 74% 65%);
  --color-text: hsl(0deg 0% 100%);
  --color-primary-900: hsl(210 10 14);
  --color-primary-600: hsl(226 9 54);
  --color-primary-500: hsl(0 0 60);
  --color-primary-400: hsl(229 8 75);
  --color-primary-300: hsl(220 25 95);
  --color-primary-green: hsl(164 75 41);
  --color-primary-blue: hsl(216 100 58);
  --color-primary-orange: hsl(18 72 69);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: hsl(0deg 0% 14%);
  --color-secondary: hsl(0deg 0% 18%);
  --color-accent: hsl(3deg 74% 65%);
  --color-text: hsl(0deg 0% 100%);
  --color-primary-900: hsl(210 10 14);
  --color-primary-600: hsl(226 9 54);
  --color-primary-500: hsl(0 0 60);
  --color-primary-400: hsl(229 8 75);
  --color-primary-300: hsl(220 25 95);
  --color-primary-green: hsl(164 75 41);
  --color-primary-blue: hsl(216 100 58);
  --color-primary-orange: hsl(18 72 69);
}

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  /* html {
    @apply 2xl:max-w-screen-2xl 2xl:mx-auto 2xl:bg-primary dark:text-white;
  } */
  /* body {
    @apply min-h-[100vh];
  } */

  /* main {
    @apply 2xl:max-w-screen-2xl 2xl:mx-auto 2xl:bg-primary dark:text-white;
  } */

  a {
    @apply dark:text-white rounded;
  }

  img {
    @apply rounded max-w-full size-[100vh] h-full object-cover;

    /* &:hover {
      @apply grayscale-0;
    } */
  }
}

@layer components {
  .component {
    @apply flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-12 2xl:rounded-2xl 2xl:my-8 2xl:border 2xl:border-primary-blue;
  }
  .nav {
    @apply flex flex-col gap-6 fixed rounded top-0 right-0 bg-accent/40 backdrop-blur-lg p-24 z-20 origin-bottom transition-transform duration-300;
  }

  .nav--link {
    @apply py-2 text-lg relative transition-colors hover:text-secondary before:content-[''] before:absolute before:w-2/4 before:h-px hover:before:origin-left before:bg-secondary before:left-0 before:bottom-0 before:scale-x-0 hover:before:scale-x-100 before:origin-right before:transition-transform;
  }

  .hamburger {
    @apply fixed bg-accent py-5 top-[24px] right-2/4 translate-x-2/4 h-8 w-12 z-30 rounded cursor-pointer before:content-[''] before:h-0.5 before:w-2/3 before:bg-text before:absolute before:top-4 before:left-2 after:content-[''] after:h-0.5 after:w-1/3 after:bg-text after:absolute after:top-6 after:left-2 before:transition after:transition;
  }
  .open {
    @apply scale-y-100 origin-top;
  }
  .close {
    @apply before:rotate-45 before:translate-y-1 after:w-2/3 after:-rotate-45 after:-translate-y-1;
  }

  .before {
    @apply before:absolute before:content-['']  before:rounded-full before:bg-accent;
  }

  .after {
    @apply after:absolute after:content-['']  after:rounded-full after:bg-accent;
  }
}
